<link rel="stylesheet" href="/styles/cart_page.css">

<%- include('_navbar')  %> 

<div class="cart-page container">
    <div class="row">

        <% if (totalItems > 0) { %>
            <div class="order-summary py-2">
                <div>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h2 class="mb-2 text-red"><i class="bi bi-cart4 me-2"></i>Order Summary</h2>
                        <a class="nav-link  bg-green text-light fw-600 br-20" aria-current="page" href="/cart/clear-cart/<%= cartId %>">Clear cart</a>
                    </div>
                    <div class="bot-border"></div>
                </div>
                
                <div class="order-list my-3">
            
                    <% for( item of JSON.parse(cartItems) ) { %>
                        <%- include('_cart-item', item)  %> 
                    <% } %>
                </div>

                <div class="bot-border"></div>
            
                <div class="order-total text-end my-2">
                    <h5 class="">Order Total: <span class="total-text text-red">Rs.<%= totalPrice %> </span></h5>
                </div>
                
            
                <div class="customer-info mt-3 mb-5">
                    <div class="cust-phone">
                        <h5 class="mb-0">Phone:</h5>
                        <p class="text-success">+91 <%= locals.user.phone %> </p>
                    </div>
                    <div class="cust-address">
                        <h5 class="mb-0">Address:</h5>
                        <p ><%= locals.user.address %> </p>
                    </div>
                   
                </div>
               
                <div class="text-center">
                    <a class="btn br-20 bg-red text-light fw-600" href="/order/place-order/<%= cartId %>">Place Order</a>
                </div>
                
            </div>
        <% } else { %>
            <div class="empty-cart d-flex flex-column justify-content-center align-items-center">
                <img class="img-fluid" src="/images/empty-cart.png" alt="emptyCart">
                <a class="btn bg-red text-light br-20" href="/order/my-orders"> Track / Previous orders</a>
            </div>
        <% } %> 
       
    </div>
</div>


